.program_info {
  ul {
    margin: 20px 0;
  }

  span {
    display: block;
    margin-bottom: 20px;
    font-size: 11px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
  }
}

.program_info_list {
  display: inline-block;

  a {
    font-size: 11px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
  }

  &:not(:last-child)::after {
    content: '\00B7';
    margin: 0 0.25em 0 0.25em;
    color: rgba(0, 0, 0, 0.3);
  }
}
